[run]
source = src/
include = src/*
data_file = reports/.coverage
omit = 
    */tests/*
    */venv/*
    */env/*
    */__pycache__/*
    */migrations/*
    setup.py
    */__init__.py
    */__version__.py
    */conftest.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:

[html]
directory = reports/htmlcov
title = PythonSearchApp Coverage Report

[xml]
output = reports/coverage.xml